<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.fortaleza.ce.gov.br/acao/${documento.targetNamespace}.xsd"
    xmlns:class="http://schemas.fortaleza.ce.gov.br/acao/classificacao.xsd"
    xmlns:idx="http://schemas.fortaleza.ce.gov.br/acao/indexhint.xsd"
    xmlns:xsdext="http://schemas.fortaleza.ce.gov.br/xsdform/extensions.xsd"
    xmlns:xhtml="http://www.w3.org/1999/xhtml"
    targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/${documento.targetNamespace}.xsd"
    elementFormDefault="qualified">

    <xs:element name="${documento.formName}" type="${documento.formName}">
        <xs:annotation>
            <xs:appinfo>
                <xhtml:label>${documento.titulo}</xhtml:label>
                <class:classificacoes>
                    <class:classificacao>${documento.classificacao}</class:classificacao>
                </class:classificacoes>
                <idx:index>
#foreach($index in $documento.indices)
                    <idx:hint key="${index.key}" xpath="${index.path}"/>
#end
                </idx:index>
            </xs:appinfo>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="${documento.formName}">
        <xs:sequence>
#foreach($subnivel in $subniveis)
			<xs:element name="${subnivel.nome}">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>${subnivel.label}</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				
				<xs:complexType>
					<xs:sequence>
#foreach($campo in $subnivel.campos)
#if($campo.tipo == 'textarea')
						<xs:element name="${campo.name}"  minOccurs="${campo.obrigatorio}" type="xs:string">
								<xs:annotation>
									<xs:appinfo>
										<xhtml:label>${campo.label}</xhtml:label>
									</xs:appinfo>
								</xs:annotation>
						</xs:element>
#end
#if($campo.tipo == 'text')
				        <xs:element name="${campo.name}" minOccurs="${campo.obrigatorio}">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>${campo.label}</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				            <xs:simpleType>
				                <xs:restriction base="xs:string">
				                    <xs:maxLength value="255"/>
#if($campo.regex)
				                    <xs:pattern value="${campo.regex}"/>
#end
				                </xs:restriction>
				            </xs:simpleType>
				        </xs:element>
#end
#if($campo.tipo == 'decimal')
						<xs:element name="${campo.name}" minOccurs="${campo.obrigatorio}">
		                    <xs:annotation>
			                    <xs:appinfo>
				                    <xhtml:label>${campo.label}</xhtml:label>
			                    </xs:appinfo>
		                    </xs:annotation>
			                <xs:simpleType>
                                <xs:restriction base="xs:decimal">
                                    <xs:fractionDigits value='2'/>
                                    <xs:maxExclusive value="1000000"/>
                                    <xs:minInclusive value="-1000000"/>
                                </xs:restriction>
			                </xs:simpleType>
	                    </xs:element>
#end
#if($campo.tipo == 'integer')
				        <xs:element name="${campo.name}" type="xs:integer" minOccurs="${campo.obrigatorio}">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>${campo.label}</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				        </xs:element>
#end
#if($campo.tipo == 'boolean')
						<xs:element name="${campo.name}" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>${campo.label}</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
#end

#if($campo.tipo == 'multiploscampos')
#foreach($subcampo in $campo.subcampos)
			<xs:element name="${subcampo.subcampoName}">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>${subcampo.subcampoLabel}</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>

#if($subcampo.tipo == 'textarea')
						<xs:element name="${subcampo.name}"  minOccurs="${subcampo.obrigatorio}" type="xs:string">
								<xs:annotation>
									<xs:appinfo>
										<xhtml:label>${subcampo.label}</xhtml:label>
									</xs:appinfo>
								</xs:annotation>
						</xs:element>
#end
#if($subcampo.tipo == 'text')
				        <xs:element name="${subcampo.name}" minOccurs="${subcampo.obrigatorio}">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>${subcampo.label}</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				            <xs:simpleType>
				                <xs:restriction base="xs:string">
				                    <xs:maxLength value="255"/>
#if($subcampo.regex)
            						<xs:pattern value="${subcampo.regex}"/>
#end
				                </xs:restriction>
				            </xs:simpleType>
				        </xs:element>
#end
#if($subcampo.tipo == 'decimal')
						<xs:element name="${subcampo.name}" minOccurs="${subcampo.obrigatorio}">
		                    <xs:annotation>
			                    <xs:appinfo>
				                    <xhtml:label>${subcampo.label}</xhtml:label>
			                    </xs:appinfo>
		                    </xs:annotation>
			                <xs:simpleType>
                                <xs:restriction base="xs:decimal">
                                    <xs:fractionDigits value='2'/>
                                    <xs:maxExclusive value="1000000"/>
                                    <xs:minInclusive value="-1000000"/>
                                </xs:restriction>
			                </xs:simpleType>
	                    </xs:element>
#end
#if($subcampo.tipo == 'integer')
				        <xs:element name="${subcampo.name}" type="xs:integer" minOccurs="${subcampo.obrigatorio}">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>${subcampo.label}</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				        </xs:element>
#end
#if($subcampo.tipo == 'boolean')
						<xs:element name="${subcampo.name}" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>${subcampo.label}</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
#end
#if($subcampo.tipo == 'date')
						<xs:element name="${subcampo.name}" minOccurs="${subcampo.obrigatorio}" type="xs:date">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>${subcampo.label}</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
#end
#if($subcampo.tipo == 'autocomplete')
						<xs:element name="${subcampo.name}"  minOccurs="${subcampo.obrigatorio}" maxOccurs="10">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>${subcampo.label}</xhtml:label>
								</xs:appinfo>
					            <xsdext:extensions>
						            <xsdext:engine>autoComplete</xsdext:engine>
						            <xsdext:service>/${subcampo.autocompleteService}</xsdext:service>
					            </xsdext:extensions>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
#end
#if($subcampo.tipo == 'select')
						<xs:element name="${subcampo.name}"  minOccurs="${subcampo.obrigatorio}">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>${subcampo.label}</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
#foreach($item in $subcampo.itens)
								<xs:enumeration value="${item}" />
#end
							</xs:restriction>
							</xs:simpleType>
						</xs:element>
#end
#if($subcampo.tipo == 'checkboxlist')
						<xs:element name="${subcampo.name}" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>${subcampo.label}</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
#foreach($item in $subcampo.checkboxitens)
									<xs:element name="${item.name}" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>${item.label}</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
#end
				            </xs:sequence>
				        </xs:complexType>
#end
					</xs:sequence>
				</xs:complexType>
			</xs:element>
#end
#end
#if($campo.tipo == 'date')
						<xs:element name="${campo.name}" minOccurs="${campo.obrigatorio}" type="xs:date">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>${campo.label}</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
#end
#if($campo.tipo == 'autocomplete')
						<xs:element name="${campo.name}"  minOccurs="${campo.obrigatorio}" maxOccurs="10">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>${campo.label}</xhtml:label>
								</xs:appinfo>
					            <xsdext:extensions>
						            <xsdext:engine>autoComplete</xsdext:engine>
						            <xsdext:service>/${campo.autocompleteService}</xsdext:service>
					            </xsdext:extensions>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
#end
#if($campo.tipo == 'select')
						<xs:element name="${campo.name}"  minOccurs="${campo.obrigatorio}">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>${campo.label}</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
#foreach($item in $campo.itens)
								<xs:enumeration value="${item}" />
#end
							</xs:restriction>
							</xs:simpleType>
						</xs:element>
#end
#if($campo.tipo == 'checkboxlist')
						<xs:element name="${campo.name}" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>${campo.label}</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
#foreach($item in $campo.cxitens)
									<xs:element name="${item.name}" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>${item.label}</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
#end
				            </xs:sequence>
				        </xs:complexType>
#end
#end
		            </xs:sequence>
		        </xs:complexType>
	        </xs:element>
#end
        </xs:sequence>
    </xs:complexType>
</xs:schema>